*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}
section
{
  margin-top: 20px;
}
section div
{
      display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 5px;
    padding: 20px;
}

div img
{
    height: 250px;
    width: 100%;
    border-radius: 5px;
}

main
{
    background-color: white;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 1px 2px 2px rgb(184, 177, 177);
     transition: .2s;
}
main:hover
{
    transform: translateY(-5px);
}

main p
{
    font-size: 12px;
}

h2
{
    margin-left: 20px;
}
.editBtn
{
     width: 100%;
    background-color: #0F766E;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    margin-top: 10px;
    display: block;
     
   
}
.deleteBtn
{
     width: 100%;
    background-color: #EF4444;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 5px 15px;
    margin-top: 10px;
    display: block;

    
}
nav
{
    padding: 20px;
    box-shadow:1px 1px 2px gray ;
    display: flex;
    justify-content: space-between ;
}
.logo img{
    width: 120px;
    height: 50px;
}
.search
{
    margin-top: 15px;
}

input
{
    background-color: whitesmoke;
    border: none;
    padding: 6px;
    border-radius: 10px;   
}
input:focus{
    outline: none;
}
.icon
{
    margin-top: 15px;
}
.main img
{
    height: 85vh;
    width: 100%;
}
.icon button
{
    background-color: #0F766E;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px;
}